.couleurpage {
    height: 600px;
    background-color: #819db8;
}
.espacement_image {
padding-bottom: 25px;
padding-top: 20px;
padding-left: 10px;
padding-right: 10px;
}
.couleurcol {
    background-color: #696969;
}
.couleurtitre {
    color: white;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.centerdiv {
    margin: auto;
    margin-top: 150px;
    width: 50%;
    border: 3px solid;
    text-align: center;
    padding: 25px;
    background: #7195aa;
}
.imagefond {
    background:url("images/imagefond.jpg");
}
.espacefilm {
    margin-top: 50px;
}
.taillerow {
    height: 400px;
}
.defilement {
    overflow-y: scroll;
}
.etoile {
    color: red;
}
.cadre {
    border: 3px solid;
    border-radius: 10px;
}
.vote {
    color: green;
}
.rowfilm {
    height: 100px;
    width: 300px;
    text-align: right;
}
.disposition {
    position: relative;
}
.centerpersonnage {
    text-align: center;
}
.taillecol {
    height: 100%;
    width: 400px;
}
.couleurvote {
    background-color: #7195aa;
}